 /*375px 414px 600px 768px 1024px 1366px 1920px*/
@media screen and (min-width: 414px){
  .paragraph {
    color: #ffffff;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    font-size: 16px;
    height: auto;
  }
  #footerText {
    color: rgb(0, 0, 0);
    font-size: 16pt;
  }
  #imagesBar{
    height: 100px;
    width: 100px;
  }
  button {
    font-size: 18pt;
  }
}
@media screen and (min-width: 768px){
  .paragraph {
    color: #ffffff;
    margin-left: 150px;
    margin-right: 150px;
    display: block;
    font-size: 16px;
    height: auto;
  }
  #footerText {
    color: rgb(0, 0, 0);
    font-size: 14pt;
  }
  #imagesBar{
    height: 150px;
    width: 150px;
  }
  button {
    font-size: 16pt;
  }
}
@media screen and (min-width: 1024px){
  .paragraph {
    color: #ffffff;
    margin-left: 300px;
    margin-right: 300px;
    display: block;
    font-size: 16px;
    height: auto;
  }
  #footerText {
    color: rgb(0, 0, 0);
    font-size: 12pt;
  }
  #imagesBar{
    height: 225px;
    width: 225px;
  }
  button {
    font-size: 14pt;
  }
}